body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
    margin-bottom: 10px;
}

/* Change placeholder text color */
input::placeholder {
    color: #ff6347; /* Tomato color */
    opacity: 1; /* Ensures full color opacity */
}

input:focus::placeholder {
    color: #008080; /* Teal color */
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}