body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;

}

input[type="password"], input[type="text"] {
    padding: 5px;
    font-size: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100px;
    margin-bottom: 10px;
    outline: none;
}

button {
    padding: 5px 10px;
    font-size: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8ebaea;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #103d6c;
}
