body{
    font-family: monospace;
}

.slider-container {
    width: 200px;
    height: 150px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 8px;
}

button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}